{% extends 'mainapp/base.html' %}


{% block content %}
            <div class='flag'></div>
            <div class="header red-header">
                <h1>Metodos de Pago</h1>
            </div>
            
            <div class='button-row'>
                <a href="{% url 'clients:client_list' %}"><button class="btn-std btn-yellow">Clientes</button></a>
                <a href="{% url 'sales:sales_list' %}"><button class="btn-std btn-red">Ventas</button></a>
                <a href="{% url 'sales:pm_new' %}"><button class="btn-std btn-green">Agregar Metodo de Pago</button></a>
             </div>
            <div class="content cont-yellow">
                <table class='main-table'>
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Moneda</th>
                        <th><i class='fa fa-trash icon-head fa-1x'></th>
                    </thead>
                    {% for pm in paymentmethod_list %}
                    <tr>
                        <td>{{pm.pk}}</td>
                        <td>{{pm.name}}</td>
                        <td>{{pm.currency}}</td>
                        <td><a class='link' href="{% url 'sales:pm_remove' pk=pm.pk %}">
                                <i class='fa fa-trash fa-1x'></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

{% endblock content %}